@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.App {
width: 100%;
 height: 100%;
 background-color: black;
}

:root{
    --yellow: #FFC900;
    --blue:#2C63FF;
    --purple:#721DB3;
    --mixed: #2C63FF + #721DB3;

};

.hero-container{
  position: relative;
}
.hero-mainImg{
    object-fit: cover;
    width: 100%;
    height: 500px;
    background-color: black;
}

.about-container{
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 2rem;
}
.about-container h1,h2{
    font-family: 'DotGothic16', cursive;
   color: var(--yellow);

}
.about-container img{
    width: 290px;
    height: auto;
    margin-bottom: 1rem;
}

.about-container p{
    max-width: 80%;
    margin: 0 auto;
}

.logo{
    width: 35px;
    height:35px;
    cursor: pointer;
}
.nav-header{
    position: absolute;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.inhouse-logo{
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-color: var(--yellow);
    color: white;
    border-radius: 50%;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.divider{
    background:linear-gradient(rgba(0.6,0.6,0.6,0.6),rgba(0.6,0.6,0.6,0.6)), url('./utils//divider.png') no-repeat;
    width: 100%;
    height: 3rem;
    background-position: center;
    background-size: cover;
    margin: 3rem 0;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.about-stats div{
border-top: 2px solid #FFC900;
border-left: 2px solid #FFC900;
border-right: 2px solid #FFC900;
margin: 3rem auto;
border-radius: 10px;
max-width: 80%;
padding: 0.5rem;
}
.about-stats p{
    margin: 0.3rem auto;

}
.about-stats span{
    color: var(--yellow);
}
.about-container button{
    background-color: #FFC900;
    border: none;
    border-radius: 5px;
    width: 8rem;
    height: 2.4rem;
}
.about-stats p, span{
    font-family: 'DotGothic16', cursive;
    letter-spacing: 1px;
}
.about-stats p{
    font-size: 1.2rem;
}
.community-container{
    width: 100%;
    height: 400px;
}
.footer{
    background:linear-gradient(rgba(0.4,0.4,0.4,0.4),rgba(0.4,0.4,0.4,0.4)),  url('./utils//footer.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.gallery{
    background: linear-gradient(rgba(0.4,0.4,0.4,0.4),rgba(0.4,0.4,0.4,0.4)) ,url('./utils/wall10.webp') no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.tokenomics-container{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 3rem 0;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.tokenomics-container img{
  object-fit: contain;
  width: 80%;
    height: 70px;
    margin-top: 1.5rem;
    cursor: pointer;
}
.roadmap-container{
    width: 100%;
    height: 400px;
    background: black;
}
.howto-container{
  background: url('./utils/collection2.png') no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
}